@media (max-width: 1439px) {
    .sidepanel {
        display: none;
    }
}
@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 510px;
            column-gap: 50px;
        }
        &__skills {
            grid-template: repeat(2,minmax(115px,auto))/repeat(2,240px);
            column-gap: 20px;
            &-item {
                grid-template-columns: 40px 175px;
            }
        }
    }
    .resume {
        padding-top: 80px;
        &__wrapper {
            grid-template-columns: repeat(2,375px);
            column-gap: 80px;
            padding-top: 40px;
        }
    }
    .tools {
        padding-top: 100px;
        &__items {
            grid-template-columns: repeat(auto-fit, 270px);
            justify-content: center;
        }
        .divider {
            margin: 20px auto 0 auto;
        }
        &__ratings {
            grid-template-columns: repeat(auto-fit, 350px);
            grid-auto-rows: minmax(70px, auto);
            justify-content: space-between;
            padding: 0 30px;
        }
    }
    .portfolio {
        
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 280px);
            grid-auto-rows: 280px;
            justify-content: center;
            gap: 13px;
            .horizonal, .vertical {
                grid-row: unset;
                grid-column: unset;
            }

        }
    }
    .contacts {
        &__photo {
            display: none;
        }
        &__wrapper {
            grid-template-columns: 585px;
            justify-content: center;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .title{
        &_fz36 {
            font-size: 28px;
        }
    } 
    .promo__btns {
        margin-left: 335px;
    }
    .about {
        padding-top: 60px;
        &__wrapper {
            grid-template-columns: 315px 375px;
            column-gap: 35px;
            row-gap: 20px;
        }

        &__skills {
            grid-template: repeat(1,minmax(115px,auto))/repeat(2,185px);
            column-gap: 10px;
            &-item {
                column-gap: 10px;
                grid-template-columns: 40px 130px;
            }
        }

    }
    .resume {
        padding-top: 60px;
        &__wrapper {
            grid-template-columns: repeat(2,308px);
            column-gap: 37px;
            padding: 30px 35px 0 35px;
        }
        .divider {
            margin: 15px auto 0 auto;
        }
    }
    .tools {
        &__items {
            padding: 0 20px;
        }
        &__ratings {
            grid-template-columns: repeat(auto-fit, 320px);
            justify-content: space-between;
            padding: 0;
            column-gap: 0;
            &-line {
                width: 100%;
            }
        }

    }
    .contacts {
        padding: 100px 0 90px 0;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .promo {
        &__title {
            width: 480px;
            font-size: 37px;
            line-height: 39px;
        }
        .promo__btns {
            margin-left: 145px;
        }
    }
    .menu {
        &__block {
            padding-top: 100px;
        }
    }
    .about {

        &__wrapper {
            grid-template-columns: 240px 300px;
            column-gap: 25px;
            row-gap: 10px;
        }
        &__skills {
            grid-template-columns: 300px;
            grid-auto-rows: minmax(100px,auto);
            row-gap: 10px;
            &-item {
                grid-template-columns: 40px 250px;
            }
        }
    }
    .resume {
        padding-top: 40px;
        &__wrapper {
            grid-template-columns: repeat(2,250px);
            column-gap: 15px;
            padding: 30px 20px 0 20px;
        }
    }
    .tools {
        padding-top: 40px;
        &__items {
            padding: 0;
            justify-content: center;
            gap: 20px;
        }
        &__ratings {
            grid-template-columns: repeat(auto-fit, 320px);
            grid-auto-rows: minmax(70px, auto);
            justify-content: center;
            margin-top: 40px;
            &-line {
                width: 100%;
            }
        }
    }
    .portfolio {
        padding-top: 80px;
        &__wrapper {
            margin-top: 40px;
        }
    }

    .contacts {
        &__wrapper {
            grid-template-columns: 520px;
        }
        &__form {
            grid-template: 40px 160px 40px /repeat(2,250px);
            row-gap: 20px;
        }
    }
}

@media (max-width: 576px) {
    .title{
        &_fz36 {
            font-size: 24px;
        }
    }
    .container {
        max-width: 100%;
        padding: 0 10px;
        margin-left: 30px;
    }
    .promo {
        background: url('../img/main_bg.jpg') no-repeat 45%/cover;

        &__title {
            width: 280px;
            font-size: 26px;
            line-height: 34px;
        }
        &__link {
            font-size: 14px;
        }
        &__btns {
            width: 235px;
        }
        .promo__btns {
            margin: 32px 0 0 0;
        }
    }
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template: 340px auto auto / 100%;
        }
        &__photo {
            grid-row: unset;
        }
        &__skills {
            justify-content: center;
            grid-template-columns: 290px;
            &-item {
                grid-template-columns: 40px 240px;
            }
        }
    }
    .hamburger {
        right: 20px;
    }
    .menu {
        &__block {
            padding: 120px 0 0 20px;
            width: 250px;
        }
        &__link {
            font-size: 18px;
            line-height: 26px;
            &::before {
                top: 7px;
            }
        }
        &__social {
            bottom: 35px;
        }
    }
    .resume {
        padding-top: 20px;
        &__wrapper {
            grid-template-columns: 275px;
            row-gap: 30px;
            justify-content: center;
        }
    }
    .tools {
        &__items {
            margin-top: 20px;
        }
        &__ratings {
            grid-template-columns: repeat(auto-fit,300px);
        }
    }
    .portfolio {
        padding-top: 60px;
        &__wrapper {
            margin-top: 25px;
        }
    }
    .contacts {
        padding: 60px 0 90px 0;
        &__wrapper {
            grid-template-columns: 320px;
        }
        &__form {
            grid-template: 45px 45px 190px minmax(45px, auto) / 290px;
            // justify-content: center;
        }
        &__textarea {
            grid-column: unset;
            width: 100%;
        }
        &__triggers {
            grid-column: unset;
            grid-template-columns: 1fr;
            column-gap: unset;
            row-gap: 20px;
        }
        &__btn {
            order: 2;
            max-width: 220px;
            margin: 0 auto;
        }
        &__policy {
            width: 180px;
            margin: 0 auto;
            line-height: 18px;
        }
        &__descr {
            margin-left: 8px;
        }
    }
}