.promo {   
    min-height: 100vh; /* секция всегда будет занимать весь экран, независимо от разрешения и размера */
    position: relative;
    background: url('../img/main_bg.jpg') no-repeat 50%/cover;
    background-color:saddlebrown;
    padding-top: 78px;
    &__title {
        color: #FFFFFF;
        width: 639px;
    }
    &__subtitle {
        position: relative;/* для миксина окружности */
        color: #FFFFFF;
        padding-bottom: 31px;
        padding-left: 10px;
        z-index: 2;
        @include before_circle;
    }
    &__btns {
        align-items: center;
        justify-content: space-between;
        margin-top: 40px;
        margin-left: 400px;
        display: flex;
        width: 250px;
    }
    &__link {
        color: #FFFFFF;
        font-weight: bold;
        &:hover {
            color: #FFFFFF;
            text-decoration: none;
        }
    }
}